* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    background-image: url("pexels-rudolf-jakkel-418831.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    font-family: Arial, Helvetica, sans-serif;
}

.background {
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.title {
    color: #f2f2f2;
    text-transform: uppercase;
    font-size: 40px;
    padding: 30px;
    letter-spacing: 20px;
}



.container {
    display: flex;
    justify-content: center;
    align-items: center;

}


.time {
    width: 200px;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #222;
    border-radius: 20px;
    box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0, 0, 0, 0.23);
}

.time span {
    color: #f2f2f2;
    font-size: 100px;
}

.time div {
    color: #f2f2f2;
    text-transform: uppercase;
}

.colon {
    width: 50px;
    height: 80px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    color: white;
}